/*
========================================
Evalio Design System
Version : 1.0
Sprint 0
========================================
*/

:root{

    /*==================================
    Colors
    ==================================*/

    --background:#050505;

    --surface:#101010;

    --surface-light:#181818;

    --glass:rgba(255,255,255,.025);

    --border:rgba(255,255,255,.08);

    --primary:#FF9A1F;

    --secondary:#FFD978;

    --success:#22C55E;

    --warning:#F59E0B;

    --danger:#EF4444;

    --text:#FFFFFF;

    --text-secondary:#BDBDBD;

    --text-muted:#808080;



    /*==================================
    Gradient
    ==================================*/

    --gradient-primary:

        linear-gradient(

            135deg,

            #FFD978,

            #FF9A1F

        );



    /*==================================
    Typography
    ==================================*/

    --font-family:

        "Inter",

        sans-serif;



    --fs-xs:.75rem;

    --fs-sm:.875rem;

    --fs-md:1rem;

    --fs-lg:1.125rem;

    --fs-xl:1.5rem;

    --fs-2xl:2rem;

    --fs-3xl:3rem;

    --fs-4xl:4rem;

    --fs-5xl:5rem;

    --fs-hero:6rem;



    /*==================================
    Font Weight
    ==================================*/

    --fw-light:300;

    --fw-normal:400;

    --fw-medium:500;

    --fw-semibold:600;

    --fw-bold:700;

    --fw-black:800;



    /*==================================
    Border Radius
    ==================================*/

    --radius-sm:12px;

    --radius-md:18px;

    --radius-lg:28px;

    --radius-pill:999px;



    /*==================================
    Shadow
    ==================================*/

    --shadow-card:

        0 20px 60px

        rgba(0,0,0,.45);



    --shadow-glow:

        0 0 60px

        rgba(255,154,31,.18);



    /*==================================
    Blur
    ==================================*/

    --blur-glass:24px;



    /*==================================
    Container
    ==================================*/

    --container:1280px;



    /*==================================
    Transition
    ==================================*/

    --transition-fast:.2s;

    --transition:.35s;

    --transition-slow:.6s;



    /*==================================
    Spacing (8pt Grid)
    ==================================*/

    --space-1:8px;

    --space-2:16px;

    --space-3:24px;

    --space-4:32px;

    --space-5:40px;

    --space-6:48px;

    --space-7:64px;

    --space-8:80px;

}